# Directories
.vs/
bin/
bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Exclude
!vendor/bin
build
build-linux
.vsconan
.DS_Store

cmake-build-debug-visual-studio
.idea
CMakeUserPresets.json
conan.lock
conanbuildinfo.txt
conaninfo.txt
graph_info.json
external_deps